#products {
    width: 1425px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#products .product {
    width: 300px;
    background-color: aqua;
}

@media screen and (min-width:750px) and (max-width:1260px) {
    #products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }



}

@media screen and (max-width:750px) {
    #products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    #products .product {
        width: 100%;
        background-color: aqua;
    }
}